# Python Beginners Course



This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* methods
____

## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
round(5/2)

2

In [8]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [10]:
# Can not start with number or special characters
name_of_var = 2

In [11]:
x = 2
y = 3

In [12]:
z = x + y

In [13]:
z

5

### Strings

In [14]:
'single quotes'

'single quotes'

In [15]:
"double quotes"

'double quotes'

In [16]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [17]:
st = 'hello my name is Sam'

In [18]:
st.lower()

'hello my name is sam'

In [19]:
st.upper()

'HELLO MY NAME IS SAM'

In [20]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [21]:
tweet = 'Go Sports! #Sports'

In [22]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [23]:
tweet.split('#')[1]

'Sports'

In [24]:
st = '''tryna split this and this and this too'''

st.split('and')[0]

'tryna split this '

In [25]:
tweet.partition('#')

('Go Sports! ', '#', 'Sports')

In [26]:
tweet.count('o')

3

In [27]:
tweet.find('S')

3

In [28]:
#startswith, endwith, isalpha, islower ....

In [29]:
'conca' + 'tenate'

'concatenate'

### Printing

In [30]:
x = 'hello, is it because your laptop is not working'

In [31]:
x

'hello, is it because your laptop is not working'

In [32]:
print()

In [33]:
num = 12
name = 'Sam'

In [34]:
print(num, name)

12 Sam

In [35]:
print(f'My number is: {name}, and my name is: {num}')

My number is: Sam, and my name is: 12

In [36]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [37]:
print(f'My number is: {num}, and my name is: {name}')

My number is: 12, and my name is: Sam

### Lists

In [38]:
[1,2,3]

[1, 2, 3]

In [39]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [40]:
my_list = ['a','b','c', 'd', 'e', 'f']

### slicing a list

In [41]:
my_list[::]

['a', 'b', 'c', 'd', 'e', 'f']

In [42]:
my_list[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [43]:
my_list[-1]

'f'

In [44]:
my_list[:-1]

['a', 'b', 'c', 'd', 'e']

In [45]:
my_list[3:5]

['d', 'e']

In [46]:
my_list[::-1]

['f', 'e', 'd', 'c', 'b', 'a']

### reassigning a list

In [47]:
my_list[0] = 'eze'
my_list

['eze', 'b', 'c', 'd', 'e', 'f']

In [48]:
my_list[4:6] = 'zek', 'abd'
my_list

['eze', 'b', 'c', 'd', 'zek', 'abd']

### list funcions

In [49]:
len(my_list)

6

In [50]:
my_list.append('new')
my_list

['eze', 'b', 'c', 'd', 'zek', 'abd', 'new']

In [51]:
my_list[0] = 'Python is tedious'

In [52]:
my_list.insert(3, 'join am')

In [53]:
my_list.remove('Python is tedious')

In [54]:
my_list.reverse()

In [55]:
new_list = my_list.copy()
new_list

['new', 'abd', 'zek', 'd', 'join am', 'c', 'b']

In [56]:
my_list.index('zek')

2

In [57]:
my_list.extend(['juli', 'anna'])

In [58]:
my_list.extend('this')
my_list

['new',
 'abd',
 'zek',
 'd',
 'join am',
 'c',
 'b',
 'juli',
 'anna',
 't',
 'h',
 'i',
 's']

In [59]:
my_list

['new',
 'abd',
 'zek',
 'd',
 'join am',
 'c',
 'b',
 'juli',
 'anna',
 't',
 'h',
 'i',
 's']

In [60]:
lst = [1,2,3,6,4]

In [61]:
lst.remove(6)

### other list functions

In [62]:
'x' in [1,2,3]

False

In [63]:
'x' in ['x', 'y', 'z']

True

In [64]:
lst2 = [9,2,3,3,5,5,7,2,1]

In [65]:
lst2.count(2)

2

In [66]:
lst2.sort()

In [67]:
lst2

[1, 2, 2, 3, 3, 5, 5, 7, 9]

In [68]:
lst2 + ['this makes sense pa']

[1, 2, 2, 3, 3, 5, 5, 7, 9, 'this makes sense pa']

In [69]:
#* remember

In [70]:
for x in range(10):
    print(x, end=" ")

0 1 2 3 4 5 6 7 8 9

In [71]:
empty = []
for i in range(1,101):
    empty.append(i)
print(empty)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [72]:
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]


matrix = [lst_1,lst_2,lst_3]

In [73]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [74]:
matrix[1][1]

5

### Dictionaries

In [75]:
d = {'key1':'amala','I am hungry':'item2'}
d

{'key1': 'amala', 'I am hungry': 'item2'}

In [76]:
d['key1']

'amala'

In [77]:
d.get("key1")

'amala'

In [78]:
d.popitem()

('I am hungry', 'item2')

In [79]:
d['key1']

'amala'

In [80]:
print(d.items())

dict_items([('key1', 'amala')])

In [81]:
d.keys()

dict_keys(['key1'])

In [82]:
d.values()

dict_values(['amala'])

### Booleans

In [83]:
True

True

In [84]:
False

False

### Tuple : it only has 2 functions 1. index 2. count

In [85]:
t = (1,2,3,3,2)

In [86]:
t[0]

1

In [87]:
t.count(2)

2

In [88]:
t.index(1)

0

In [89]:
t.index(2)

1

In [90]:
t[2]

3

### slicing of tuples

In [91]:
t[:-1]

(1, 2, 3, 3)

In [92]:
t[::]

(1, 2, 3, 3, 2)

In [93]:
t[1:]

(2, 3, 3, 2)

In [94]:
# t[0] = 2 # values in a tuple can not be reassigned

### Sets

In [95]:
{1,2,3}

{1, 2, 3}

In [96]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [97]:
a = {1,5,9,3}
b = {2,5,7,4,6,2}

In [98]:
a.intersection(b)

{5}

In [99]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 9}

In [100]:
a.difference(b)

{1, 3, 9}

In [101]:
# a & b
# b | a
a - b

{1, 3, 9}

### converting a list to set #

In [102]:
set_list = [1,2,4,3,4,1,5]

In [103]:
list_set = set(set_list)
list_set

{1, 2, 3, 4, 5}

In [104]:
new_lis = list(list_set)
new_lis

[1, 2, 3, 4, 5]

### Comparison Operators

In [105]:
1 > 2

False

In [106]:
1 < 2

True

In [107]:
1 >= 1

True

In [108]:
1 <= 4

True

In [109]:
1 == 1

True

In [110]:
'hi' == 'bye'

False

In [111]:
'zek' != 'eze'

True

### Logic Operators

In [112]:
(2 > 1) and (0 < 1)

True

In [113]:
(1 > 2) or (2 < 3)

True

In [114]:
(1 == 2) or (2 == 3) or (4 == 4)

True

### if,elif, else Statements

In [115]:
if 1 < 2:
    print('Yep!')

Yep!

In [116]:
if 1 < 2:
    print('yep!')

yep!

In [117]:
if 2 < 1:
    print('one')
else:
    print('two')

two

In [118]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [119]:
if 1 == 1:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

first

### for Loops

In [120]:
range(0,11)

range(0, 11)

In [121]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [122]:
for i in range(11):
    print (i)

0
1
2
3
4
5
6
7
8
9
10

In [123]:
for i in 'I am hungry and tired and also feel like going home':
    print (i)

I

a
m

h
u
n
g
r
y

a
n
d

t
i
r
e
d

a
n
d

a
l
s
o

f
e
e
l

l
i
k
e

g
o
i
n
g

h
o
m
e

In [124]:
t = (4,6,3,5,8)

In [125]:
for t in t:
    print(t)

4
6
3
5
8

In [126]:
seq = [1,2,3,4,5,6]

In [127]:
for item in seq:
    print(item)

1
2
3
4
5
6

In [128]:
for item in seq:
    print('Oh my goodness')

Oh my goodness
Oh my goodness
Oh my goodness
Oh my goodness
Oh my goodness
Oh my goodness

In [129]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10
12

In [130]:
#zip, enumerate

In [131]:
##

In [132]:
d

{'key1': 'amala'}

In [133]:
for k in d.keys():
    print(k)

key1

In [134]:
for k in d.values():
    print(k)

amala

In [135]:
for k in d.items():
    print(k)

('key1', 'amala')

In [136]:
for i,j in enumerate(d.items()):
    print(i)

0

In [137]:
for i,j in enumerate(d.items()):
    print(j)

('key1', 'amala')

In [138]:
for i,j in enumerate(d.items()):
    print(i,j)

0 ('key1', 'amala')

In [139]:
a, b = 2, 4

In [140]:
a

2

In [141]:
b

4

### while Loops

In [142]:
i = 2
while i < 15:
    print('i is: {}'.format(i))
    i = i+1

i is: 2
i is: 3
i is: 4
i is: 5
i is: 6
i is: 7
i is: 8
i is: 9
i is: 10
i is: 11
i is: 12
i is: 13
i is: 14

In [143]:
x = 0

while x < 10:
    print (f'x is currently: ',x)
    print (' x is still less than 10, adding 1 to x')
    x+=1

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x

In [144]:
while True:
    print("Where am i going to?")
    break

Where am i going to?

In [145]:
x = 0

while x < 10:
    print (f'x is currently: ',x)
    print (' x is still less than 10, adding 1 to x')
    x+=2

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x

### range()

### list comprehension

In [146]:
x = [1,2,3,4]

In [147]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [148]:
print(out)

[1, 4, 9, 16]

In [149]:
[x for x in 'word']
[x for x in range(0,12,2)]

[0, 2, 4, 6, 8, 10]

In [150]:
[x**2 for x in range(1,5)]

[1, 4, 9, 16]

In [151]:
print({1,3,5,2,1,5,3,4})

{1, 2, 3, 4, 5}

### number guessing game

In [155]:
import random 
secret_num = random.randint(1,5)
while True:
    guess = int(input('guess a number '))
    if guess > 4:
        print('enter a number btw 1 and 4')
    else:
        if secret_num == guess:
            print('you guessed rightly, the secret nember is ', secret_num)
            break
        else:
            print("guess again")

guess a number 4
guess again
guess a number 5
enter a number btw 1 and 4
guess a number 2
guess again
guess a number 1
you guessed rightly, the secret nember is  1

### Methods in python

In [156]:
def about():
    print('my name is Aleke Ezekiel')
about()

my name is Aleke Ezekiel

### using return in a function

In [157]:
def about():
    return('my name is Aleke Ezekiel')

Ezekiel = about()
print(Ezekiel)

my name is Aleke Ezekiel

### functions with parameter

In [158]:
def person(name, age):
    print(f'my name is {name}, i am {age} years old')
    
person('ezekiel', 22)

my name is ezekiel, i am 22 years old

In [160]:
def multiply(num1, num2):
    return num1*num2**2
    
    
result = multiply(8,2)
print(result)

32

### functions with default parameter

In [161]:
def def_parameter(num1, num2=4, num3=6):
    return num1 + num2 + num3

print(def_parameter(3))

13

### recuesive functions: function that calls itself

In [162]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
    
print(factorial(6))

720

In [163]:
def sum(n):
    if n == 1:
        return 1
    else:
        return n + sum(n-1)
    
print(sum(10))

55

### lambda functions

In [164]:
add = lambda x, y: x + y

add(2,2)

4

In [165]:
square = lambda x: x**2


square(4)

16

In [166]:
Mul = lambda a: lambda b: a*b

Mul(2)(3)

6